@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* ************ DIRECTRICES GENERALES ************ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'TA-Avantg_Med';
    src: url("../fonts_ta/AVGARDM.TTF");
}

@font-face {
    font-family: 'TA-Micro_Med';
    src: url("../fonts_ta/m025094d.ttf");
}

body{
    font-family: 'Open Sans',sans-serif;
    background: linear-gradient(rgba(25, 61, 240, 0.45), rgba(89, 137, 208, 0.45)), url("../imgs_plantilla_base/PA-Panini_Vista_Interior_100%.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  color:#fff
}

p {
    /* line-height: 1.75; */
    font-weight: 100;
    font-size: 0.75rem;
    color: aquamarine;
  }

p img {
    margin: 9px 30px;
    width: 60%;
}

/* ************ CONTENEDOR BARRA DE NAVEGACIÓN.- Plantilla base.html ************ */
#TA_main_nav {/*Etiqueta nav */
    background-image: linear-gradient(45deg, rgba(8, 24, 56), rgba(88, 136, 208));
    min-height: 90px;
    max-height: 105px;
    font-family: 'Open Sans';
    font-weight: 300;
}

#TA_nav_contenedor{ /*Etiqueta div */
    min-height: 75px;
    margin-bottom: 3px;
    background-image: linear-gradient(45deg, rgba(8, 24, 56), rgba(88, 136, 208));
}

#TA_main_nav .navbar-brand { /* Total Architecture * */
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 3px 3px 3px rgba(255, 0, 255, 0.5);
  }
  
  #TA_main_nav .navbar-nav .nav-item .nav-link {
    margin-left: 9px;
    /* border: 2px solid #fbc2eb; */
    color: rgba(255, 255, 255, 0.7);
    height: 50px;
    font-weight: inherit;
    font-size: 0.9rem; /* Menú desplegable */
    position: relative;
    z-index: 1500;
  }
  
  #TA_main_nav .navbar-nav .nav-item.active .nav-link {
    color: rgb(128, 255, 255);
    text-decoration: underline;
  }

  /* ************ BLOQUE TÍTULO SUPERIOR.- Plantilla base.html ************ */
  .site-heading {
     margin-top: 15px;
     font-family: 'Open Sans';
    }
    
    .site-heading .site-heading-upper {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        text-transform: uppercase;   
    }

/* ************ BARRA DE REGISTRO.- Plantilla base.html ************ */
.TA_barra_registro{
    margin: 12px 15px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

.TA_barra_registro .reg_link{
    color: white;
    display: block;
    width: 24%;
    height: 15%;
    border-radius: 9px;
    margin: 0px 6px;
    text-align: center;
    cursor: pointer;
}

.TA_barra_registro .autenticado {
   
    background-color: rgba(32, 104, 80, 0.60);
    border: 1px solid rgba(64, 224, 176);
}

.TA_barra_registro .cerrar{
    background-color: rgba(64, 96, 176, 0.60);
    border: 1px solid rgb(56, 136, 176);
}

.TA_barra_registro .login{
    background-color: rgba(136, 64, 176,0.6);
    border: 1px solid rgb(36, 6, 54);
    width: 15%;
}

.TA_barra_registro .registro{
    background-color: rgba(136, 64, 176,0.6);
    border: 1px solid rgb(36, 6, 54);
    width: 15%;
}

/* BOTÓN INICIO-FIN */
.btn_inicio_fin{
    margin-top: 15px;
    text-align: center;
}
.fin_inicio{
    width: 90px;
    background-color: white;
    border: 0.6px solid rgb(0, 0, 128);
    border-radius: 9px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1.5px;
    display: inline-block;
}
/* ************ FOOTER-1) CONTENEDORES PRINCIPALES.- Plantilla base.html ************ */
.TA_pie_pagina{ /* Etiqueta superior Footer */
    padding-bottom: 0.1px; /* Se puso por el colapsado de margenes */
    margin-top: 15px;
   /*  border: 3px solid rgb(230, 0, 255); */
    width: 100vw;
    background-color: rgba(7, 21, 56, 1.0);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.contenedor_gral{
    width: 100%;
    min-width: 450px;
    overflow: hidden;
    background-image: linear-gradient(45deg, rgba(8, 24, 56), rgba(88, 136, 208));
    /* border: 4px double blueviolet; */
}

.TA_pie_pagina .footer-content{ /* Mismo nivel que el Contenedor Gral., pero adiciona ciertas características */
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* ************ FOOTER-2) CONTENEDOR IZQUIERDO: LOGO, COMPANY Y ESLOGAN.- Plantilla base.html ************ */
.contact-us{
    padding: 1.5px;
    width: 60%;
    color: rgb(255, 255, 255);
}

.contact-us .logo_TA{
    display: block;
    width: 45%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.brand{
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 3px 3px navy;
}

.brand+p{
    font-weight: 300;
    font-size: 9px;
    text-align: center;
    margin: 0;
}

/* ************ FOOTER-3) CONTENEDOR CENTRAL NOMBRE Y TELÉFONOS.- Plantilla base.html ************ */
.phones-content{
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 1.5px;
}

.phones-content p{
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    text-shadow: 3px 3px 3px navy;
}

/* ************ FOOTER-4) CONTENEDOR DERECHO, REDES SOCIALES.- Plantilla base.html ************ */
.social-media{
    padding-right: 9px;
    align-self: center;
    width: 69%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px navy;
}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
    text-shadow: 3px 3px 3px 1px aquamarine;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    height: 0.9px;
    background: rgb(255, 255, 255);
    margin-bottom: 3px;
}
.derechos{
    margin-top: 0;
    text-align: center;
}
.derechos .politicas .link{
    color: rgb(255, 255, 255);
    margin: 0 15px;
    font-weight: 300;
}

/* ************ ENCABEZADO JUMBOTRON: Título, Logo TA, Compañía y Eslogan.- Plantilla Inicio ************ */
.header{
    width: 100vw;
    height: 75vh;
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 45px;
    background-image: linear-gradient(to top, rgba(126, 125, 174, 0.45) 15%, rgba(233, 194, 251, 0.60) 100%), url(../imgs_plantilla_base/TEVE-Acapulco_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contenedor_principal{
   /*  border: 2px solid red; */
    width: 96%;
    max-width: 1200px;
    height: 90%;
    overflow: hidden;
    background-image: radial-gradient( rgba(68, 66, 187, 0.45)24%, rgba(233, 194, 251, 0.30)45%, rgba(233, 194, 251, 0.12)69%, rgba(233, 194, 251, 0.06)15%);
    /* background-color: rgb(0, 0, 255, 0.3); */
}

.head{ /* Al mismo Nivel que .contenedor _principal*/
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ivory;
    text-shadow: 3px 3px 3px black; 
}

.titulo{
    font-family: 'TA-Micro_Med', 'Times New Roman';
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 9px;
}

.logo_TA{ 
    width: 210px;
    height: 120px;
    cursor: pointer;
    transition: all 2s;
}

.logo_TA:hover{
    transform: rotate(360deg);
}

.company{
    font-family: inherit;
    font-weight: 300;
    font-size: 30px; 
}

.eslogan{
    font-weight: 300;
    font-size: 15px;
    color: aquamarine;
}
/* ************ FIN ENCABEZADO JUMBOTRON: Título, Logo TA, Compañía y Eslogan.- Plantilla Home ************ */

/* ************ TARJETAS: Imagen, Título, Contenido.- Plantilla Home ************ */
/* Va primero el Contenedor Gral */
.contenedor_gral .subtitulo{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 1.5px rgba(95, 0, 95, 0.5);
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 19.5px;
    text-align: center;
}

.tarjeta_grupo{
    /* border: 1.5px solid green; */
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.tarjeta{ /* Padre */
    width: 69%;
    margin: 15px 0;
    border: 0.6px solid rgb(0, 0, 128);
    border-radius: 9px;
   /*  background-color: rgb(7, 21, 56); */
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 6px 9px rgb(0, 0, 128);
    overflow: hidden;
    display: flex; 
    flex-direction: column; /* Cambio del Main Axix */
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: all 2s ease-in-out;
}

.tarjeta:hover{
    cursor: pointer;
    transform: rotateY(360deg);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta_img_sup{ /* 1° Hijo */
    display: block;
    height: 45%;
    object-fit: cover;
}

.tarjeta_cuerpo{ /* 2° Hijo */
    margin: 0 0px;
    padding: 0 15px;
    /* border: 1.5px solid red; */
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
}

.tarjeta_titulo{
    font-family: 'TA-Avantg_Med';
    color: rgb(0, 0, 128);
    text-align: center;
}

.tarjeta_texto{
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 500;
  }

.tarjeta_texto .texto_cuerpo_secundario{
    font-size: 0.5rem;
    font-style: italic;
    color: rgb(0, 0, 128);
    position: absolute;
    bottom: 6px;
}
/* ************ FIN TARJETAS: Imagen, Título, Contenido.- Plantilla Home ************ */
/* ************ PRIMER BLOQUE CAMBIANTE CENTRAL SECTION ************ */
.seccion_pagina{ /* 1°) Etiqueta section.- .seccion_pagina */
    width: 100vw;
    margin-top: 45px;
    margin-bottom: 45px;
    /* background-color: rgba(7, 21, 56, 1.0); */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -3;
}
/* 2°) Etiqueta div.- .contenedor_gral */
/* 3°) Subtítulo */
.seccion_recuadro{ /* Padre */
    margin-top: 9px;
    margin-bottom: 15px;
    width: 96vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.seccion_recuadro_imagenes{/* 1° Hijo */
    width: 93vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center; 
}

.seccion_recuadro_img{ /* Propiedades comunes */
    border: 0.9px solid rgb(0, 0, 128);
    border-radius: 9px;
    /* width: 900px; */
    max-width: 90%; 
    object-fit: cover;
    align-self: center;
    display: block;
}

.seccion_recuadro .img_inicio{ /* Imagen Inicio */
    /* width: 900px; */
    max-width: 72%; 
}


.seccion_recuadro_imagenes .img-galeria-a{
    width: 24%; 
    margin: 3px 6px;
}

.seccion_recuadro_imagenes .img-galeria-d{
    width: 63%; 
    margin: 3px 6px;
}

#antes{
    position: absolute; 
    top: 69px;
    left: 93px;
    color: white;
}
/*----------------------------------------------------------------*/

.seccion_recuadro_texto{ /* 2° Hijo */
    padding: 6px;
    margin: auto 12px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
}

.seccion_encabezado{
    padding: 6px 0;
    margin-bottom: 9px;
    border-radius: 9px;
    background-color: navy;
    flex-shrink: 0;
    flex-basis: 15%;
}

.seccion_eslogan, .seccion_titulo{
    font-family: 'TA-Avantg_Med';
    font-weight: lighter;
    color: rgba(255, 255, 255);
    text-align: center;
    display: block;
}

.seccion_eslogan{
    font-size: 1.2rem;
}

.seccion_titulo{
    font-size: 1.5rem;
}

.seccion_descripcion{ 
    font-size: 0.9rem;
    padding: 6px 9px;
    border-radius: 9px;
    background-color: navy;
    font-weight: 400;
}

  /* TEMPLATE CONTACTO */
.contenedor_gral .contacto_registro{
   margin-top: 15px;
   margin-bottom: 90px;
   margin-left: auto;
   margin-right: auto;
   width: 90%; 
   background-color: rgba(64, 176, 96, 0.30);
   border: 0.15px solid aquamarine;
   border-radius: 15px;
}

.contenedor_gral .contacto_registro p{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 0.15px solid aquamarine;
    border-radius: 12px;
    background-image: linear-gradient(45deg, rgba(8, 24, 56), rgba(88, 136, 208));
    width: 45%;
    font-size: 1rem;
    text-align: center;
 }

.contenedor_gral .contacto_registro form{
    width: 100%;
    margin:12px auto;
    text-align:center;
    color: white; 
}

.contenedor_gral .contacto_registro form table{
    margin: 9px auto;
    text-align: left;
    table-layout: fixed;
}
/* TEMPLATE LOGIN */
.contenedor_gral .ta_login{ /* Etiqueta form */
    margin: 15px auto;
    color: white;
    background-color: rgba(32,192,192,0.5);
    border: 0.15px solid aquamarine;
    border-radius: 12px;
}

.contenedor_gral .ta_login div{
    width:75%;
    margin: 15px auto;
}
.contenedor_gral .ta_login div .login_mensajes{
    margin-top: 9px;
    margin-bottom: 0;
}

.login_mensajes em{
    padding: 3px;
    font-size: 0.9rem;
    color:red; 
    background-color: white; 
    text-align: center;
}

.ta_login div button{
    border: 0.15px solid aquamarine;
    margin: 0px 60px;
}
  
/* TEMPLATE REGISTRO */
.contenedor_gral .contacto_registro{
    text-transform: capitalize;
    font-size: 1.2rem;
}
.contacto_registro .registro_titulo{
    margin: 15px auto;
    text-align: center; 
}

.contacto_registro form button{
    border: 0.15px solid aquamarine;
    margin-top: 12px;
}

/* 1°) MOVIL FIRST DE 0 A MENOS DE 576; 2°) DE 576 A 768 Y 3°) DE 992 A MÁS */ 
@media screen and (min-width: 768px) and (max-width:1024px){

    #TA_main_nav .navbar-brand { /* Total Architecture * */
       font-size: 30px;
      }

      #TA_main_nav .navbar-nav .nav-item .nav-link {
        font-size: 21px;/* Menú Horizontal */
        font-weight: 500;
        letter-spacing: 0.5px;
      }
      /* Título BIENVENIDO */
      .site-heading {
       width: 240px;
       margin-right: auto;
       margin-left: auto;
       font-weight: 500;
      }

    /* JUMBOTRON */
      #inicio{
          height: 84vh;
      }

     .contenedor_principal .titulo{
        font-size: 45px;
    }

    .logo_TA{ 
        width: 315px;
        height: 210px;
    }

    .company{
        font-size: 48px; 
    }
    
    .eslogan{
        font-size: 24px;
    }
    
    /* TARJETAS */
    .contenedor_gral .subtitulo{
        font-size: 33px;
        text-align: center
    }

    /* FOOTER */
    .TA_pie_pagina .footer-content{ /* Mismo nivel que el Contenedor Gral., pero adiciona ciertas características */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .contact-us{
        width: 36%;
    }

    .brand+p{
        font-size: 10px;
    }

    .phones-content{
        width: 36%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .phones-content P{
        font-weight: 500;
        font-size: 15px;
    }

    .social-media{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

/* TARJETAS */
     .tarjeta_grupo{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }
    .tarjeta{
        width: 24%;
    }
    
.seccion_recuadro{ /* Padre */
    margin-left: auto;
    margin-right: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
 } 

#persona_funcion{
    font-size: 1rem;
    text-align: center;
}

.seccion_recuadro .img_inicio{ /* Imagen Inicio */
    /* width: 900px; */
    max-width: 33%; 
    padding: 3px 9px;

}

.seccion_recuadro_img{ /* Propiedades comunes */
    max-width: 63%;
    object-fit: cover; 
}

.seccion_recuadro_imagenes .img-galeria-a{
    width: 30%; 
    margin: 3px 6px;
}

.seccion_recuadro_imagenes .img-galeria-d{
    width: 75%; 
    margin: 3px 6px;
}

#antes{
    position: absolute; 
    top: 75px;
    left: 57px;
    color: white;
}

}

/* ****************************** */
  @media screen and (min-width: 1025px) {
    #TA_nav_contenedor{
        position: fixed;
        top: 0;
        z-index: 3000;
    }

    #TA_main_nav .navbar-nav .nav-item .nav-link {
      font-size: 21px;/* Menú Horizontal */
      font-weight: 500;
      letter-spacing: 1.2px;
    }

    #TA_main_nav .navbar-nav .nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: underline;
    }
    #TA_main_nav .navbar-nav .nav-item.active .nav-link:hover {
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }

    /* Título BIENVENIDO */
    .site-heading {
        width: 240px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 500;
       }
    /* JUMBOTRON */
       #inicio{
           height: 100vh;
       }
      .contenedor_principal .titulo{
        font-size: 45px;
    }

    .contenedor_gral .subtitulo{
        font-size: 36px;
        text-align: center
    }
    
    .logo_TA{ 
        width: 360px;
        height: 240px;
    }

    .company{
        font-size: 48px; 
    }
    
    .eslogan{
        font-size: 24px;
    }
    
    /* FOOTER */   
    .TA_pie_pagina .footer-content{ /* Mismo nivel que el Contenedor Gral., pero adiciona ciertas características */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .contact-us{
        padding: 1.5px;
        width: 36%;
        color: rgb(255, 255, 255);
    }
    .brand+p{
        font-weight: 300;
        font-size: 12px;
    }

    .phones-content{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-items: center;
    }

    .phones-content P{
        font-weight: 500;
        font-size: 18px;
    }
    .social-media{
        /* align-self: center; */
        width: 27%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
/* TARJETAS */
.tarjeta_grupo{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.tarjeta{
    width: 24%;
}
 
.seccion_recuadro{ /* Padre */
    margin-left: auto;
    margin-right: auto;
        
    justify-self: center;
    padding-left: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} 

#persona_funcion{
    font-size: 1.2rem;
    text-align: center;
}

.seccion_recuadro .img_inicio{ /* Imagen Inicio */
    /* width: 900px; */
    max-width: 27%; 
    cursor: pointer;
}

.seccion_recuadro_img{ /* Propiedades comunes */
    max-width: 54%; 
    margin: 3px 9px;
}

.seccion_recuadro_imagenes .img-galeria-a{
    width: 27%; 
    margin: 3px 6px;
}

.seccion_recuadro_imagenes .img-galeria-d{
    width: 81%; 
    margin: 3px 6px;
}

#antes{
    position: absolute; 
    top: 75px;
    left: 255px;
    color: white;
}
    .seccion_descripcion{
        font-size: 21px;
    }
}
